*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section {
    background-image: url('./images/heroSectionBackground.png');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__menu_container {
    display: flex;
    gap: 18px;
}

.navbar__mobile_btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid white;
    display: none;
}

.hero__section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(60vh - 65px);
}

.hero__section_logo {
    width: 200px;
    height: auto;
}

.hero__section_title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.hero__section_input_container {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.hero__section_input_location,
.hero__section_input_search {
    padding: 5px;
    border: none;
    outline: none;
}

.hero__section_input_location {
    width: 35%;
    border-right: 2px solid #E0E0E0;
}

.hero__section_input_search {
    width: 65%;
}

.container {
    margin: 3rem auto;
    width: 90%;
}

.offer__section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
}

.offer__section_card {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #E0E0E0;
    transition: all 0.2s ease-in;
}

.offer__section_card:hover {
    transform: scale(1.05);
}

.offer__section_card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.offer__section_content {
    padding: 10px;
}

.offer__section_content h2 {
    font-size: 20px;
    font-weight: 400;
}

.offer__section_content p {
    font-size: 12.5px;
}

.collection__section_heading  {
    font-weight: 600;
}

.collection__section_sub_heading {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.collection__section_sub_heading span:nth-child(2) {
    color: #FF738B;
    font-size: 13px;
    cursor: pointer;
}

.collection__section_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.collection__section_card {
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.collection__section_card:nth-child(1) {
    background-image: url('./images/collection1.jpg');
}

.collection__section_card:nth-child(2) {
    background-image: url('./images/collection2.jpg');
}

.collection__section_card:nth-child(3) {
    background-image: url('./images/collection3.jpg');
}

.collection__section_card:nth-child(4) {
    background-image: url('./images/collection4.jpg');
}

.collection__section_card .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
}

.collection__section_card_content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 16px;
    font-size: 0.9rem;
    color: white;
}

.collection__section_card_content h4 {
    font-weight: 400;
    letter-spacing: 0.5px;
}

.app__section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 237, 255);
    width: 100%;
    padding: 3rem;
}

.app__section_semi_container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5;
}

.app__section_semi_container .left {
    flex: 2;
}

.app__section_semi_container .left img {
    width: 100%;
    object-fit: center;
    object-position: center;
} 

.app__section_semi_container .right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app__section_semi_container .right h1 {
    font-weight: 400;
    font-size: 2rem;
}

.app__section_semi_container .right p {
    font-size: 0.8rem;
}

.app__section_radio_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app__section_radio_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.app__section_radio_container div input {
    height: 15px;
    width: 15px;
    accent-color: rgba(239, 79, 95);
}

.app__section_email_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.app__section_email_container button, 
.app__section_email_container input {
    padding: 10px 12px;
}

.app__section_email_container input {
    flex: auto;
    border: 1.5px solid grey;
    outline: none;
    border-radius: 5px ;
}

.app__section_email_container button {
    border: none;
    background-color: rgba(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.app__section_download_container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.app__section_download_container h5 {
    font-weight: 400;
    color: grey;
}

.app__section_download_container div {
    display: flex;
    gap: 1rem;
}

.app__section_download_container div img {
    width: 35%;
}

.footer__section {
    width: 100%;
}

.footer__section_upper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer__section_upper img {
    width: 130px;
}

.footer__section_upper_container {
    display: flex;
    gap: 1rem;
}

.footer__section_upper_container button {
    padding: 5px;
    width: 90px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;    
}

.footer__section_middle {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.footer__section_navigation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__section_navigation h5 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer__section_link {
    text-decoration: none;
    color: grey;
    font-size: 12.5px;
    font-weight: 300;
}

.footer__section_link:hover {
    color: black;
}

.footer__section_navigation_social {
    display: flex;
    gap: 0.8rem;
}

.footer__section_navigation_social button {
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}

.footer__section_navigation_social button i {
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__section_navigation_logo img {
    width: 100%;
}

.footer__section_bottom {
    width: 95%;
    color: grey;
    margin: auto;
    border-top: 1px solid grey;
    padding-top: 1.5rem;
}

#navbar__mobile_btn {
    display: none;
}

.navbar__mobile_btn:active {
    background-color: white;
    color: #FF738B;
} 

#navbar__mobile_btn:checked ~ .navbar__menu_container {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .navbar__menu_container {
        width: 100%;
        flex-direction: column;
        gap: 18px;
        position: absolute;
        background-color: rgba(239, 79, 95);
        padding: 18px;
        transition: 1s;
        display: none;
        top: 65px;
        left: 0;
    }

    .navbar__mobile_btn {
        display: flex;
    }
    .hero__section{
        height: 80vh;
    }

    .hero__section_container {
        height: calc(80vh - 40px);
    }

    .hero__section_input_container {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .hero__section_input_location,
    .hero__section_input_search {
        padding: 18px;
        border-radius: 10px;
        width: 98%;
    }
}

@media only screen and (max-width: 1300px) {
    .app__section_semi_container {
        width: 80%;
    }
    .app__section_semi_container .left,
    .app__section_semi_container .right {
        flex: 1;
    }
}

@media only screen and (max-width: 900px) {
    .app__section {
        padding: 2rem;
    }

    .app__section_semi_container {
        width: 95%;
        flex-direction: column;
    }

    .footer__section_middle {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .footer__section_middle {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 320px) {
    .footer__section_middle {
        grid-template-columns: repeat(1, 1fr);
    }
}